<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jamgu.hwstatistics"
    android:versionCode="20211027"
    android:versionName="1.0.0">
    <!-- 开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 充電狀態 -->
    <!-- foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 忽略电池优化 request api larger than 6.0 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 电话信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- <uses-permission android:name="android.permission.READ_PRECISE_PHONE_STATE" /> -->
    <!-- 网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <!-- 获取应用信息 -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- IHardwarePropertiesManager -->
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:grantUriPermissions="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HWStatistics">
        <activity
            android:name=".page.UserActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".page.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".page.InitActivity"
            android:exported="true" />
        <activity
            android:name=".page.AutoMonitorActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.PartPowerActivity" />
        <activity
            android:name=".page.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".page.TransitionActivity" />
        <!-- 保活 start -->
        <service
            android:name=".keeplive.service.KeepAliveService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".keeplive.service.CancelNotifyervice"
            android:exported="true" />
        <!-- 保活 end -->
        <!-- 手机是否充电状态 -->
        <receiver
            android:name=".appusage.broadcast.PowerConnectReceiver"
            android:exported="false">
            <intent-filter>
                <!-- 连接电源状态 -->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <!-- 未连接电源状态 -->
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- 数据缓存目录 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jamgu.hwstatistics"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 开机、关机、解锁广播 -->
        <receiver
            android:name=".appusage.broadcast.ActiveBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:priority="99999999">
            <intent-filter>
                <!-- 开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <!-- 关机广播 -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
            <intent-filter>
                <!-- 解锁广播 -->
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>